menubar > menuitem {
  transition: all 200ms;
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 0%, transparent 0%) 0 0 2/0 0 2px;
}

menubar > menuitem:hover {
  color: white;
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 100%, transparent 0%) 0 0 2/0 0 2px;
}

frame scrolledwindow {
  border: none;
  background-image: none;
}

paned > label {
  margin: 4px 6px;
  color: alpha(black, 0.26)
}

window.background box > frame {
  box-shadow: 0px 2px 2px 0px alpha(black, 0.15),
    0px 1px 3px 0px alpha(black, 0.1);
}

.view:not(treeview),
box > frame  {
  border-radius: 2px;
}

actionbar revealer box {
  border-radius: 0px 0px 2px 2px; 
}

actionbar .image-button {
  margin: 0px 2px;
}

row:focus {
  background-image: image(alpha(currentColor, 0.05));
  outline: none;
}

window.background .frame:only-child {
  border-radius: 2px;
 box-shadow: 0px 2px 2px 0px alpha(black, 0.15),
    0px 1px 3px 0px alpha(black, 0.1);
  border: none;
}

stacksidebar list {
  background-image: linear-gradient(to bottom, #00ADFF, #AA00FF);
  border: none;
  color: white;
}

stacksidebar list row:selected {
  color: white;
}

stacksidebar list row:selected label {
  color: white;
}

window.background.csd frame {
  background-color: white;
}

frame label {
  margin: 2px 6px;
}

treeview:selected {
  color: #006EFF; 
  background-image: image(alpha(currentColor, 0.1));
  background-color: inherit;
}

button.text-button:checked:not(:disabled):not(.radio) {
  background-image: linear-gradient(to right, #00ADFF, #00ADFF, #00ADFF, #AA00FF, #AA00FF, #AA00FF);
  color: white;
}

* label {
  color: inherit;
}

entry:disabled {
  opacity: 0.6
}

menubar {
  background-color: #212326;
  font-weight: 500;
}

undershoot.bottom  {
  padding: 0px;
  background-size: 100%;
  background-image: linear-gradient(to top, alpha(white , 0.75), alpha(white ,0));
}

undershoot.top  {
  padding: 0px;
  background-size: 100%;
  background-image: linear-gradient(to bottom, alpha(white , 0.6), alpha(white ,0));
}

progressbar trough {
    border-radius: 9999px;
}

progressbar progress {
    border-radius: 9999px;  
    background-image: linear-gradient(to right, #00ADFF,  #AA00FF);
}

headerbar separator {
  background-color: alpha(white, 0.4);
}

row, button.combo {
  font-weight: 500;
}

row:selected {
  color: #006EFF;
  background-color: transparent;
}

row:selected label {
  color: #006EFF;
}

headerbar {
  background-image: linear-gradient(to right, #00ADFF, rgb(0, 110, 255), #AA00FF);
  background-color: transparent;
} 

headerbar button.radio:checked {
  background-color: alpha(currentColor, 0.1);
}

headerbar button.toggle {
  border-radius: 9999px;
  -gtk-outline-radius:  9999px;
}

headerbar .toggle:active {
    transition: all 75ms cubic-bezier(0, 0, 0.2, 1), background-size 0ms, background-image 0ms;
    animation: ripple 225ms cubic-bezier(0, 0, 0.2, 1) forwards;
    background-image: radial-gradient(circle, alpha(white, 1) 10%, transparent 0%);
  color: #AA00FF;
}

headerbar .toggle:checked {
    background-image: radial-gradient(circle, alpha(white, 1) 10%, transparent 0%);
  color: #AA00FF;
  border: none;
}

headerbar separator {
  min-width: 2px;
}

.csd decoration {
  box-shadow: 0px 4px 4px 0px alpha(black, 0.4),
    0px 0px 2px 0px alpha(black, 0.2);
}

.csd:backdrop decoration {
  box-shadow: 0px 4px 4px 0px alpha(black, 0.2),
    0px 0px 2px 0px alpha(black, 0.1);
}

.popup menuitem {
  transition: none;
}

menu {
  background-color: #212326;
  box-shadow: none;
}

menu button {
  background-color: inherit;
  color: #F2F2F2;
}

menu arrow {
  background-color: inherit;
  color: #F2F2F2;
}

menu menuitem {
  color: #F2F2F2;
}

menu menuitem:hover {
  background-image: linear-gradient(to right, #006EFF, #AA00FF);
  transition: none;
}

menu menuitem:disabled, menuitem accelerator:disabled {
  color: alpha(#F2F2F2, 0.3);
}

menuitem accelerator, menuitem radio:not(:checked) {
  color: alpha(#F2F2F2, 0.6);
  font-weight: 500;
}

menu menuitem check:not(:checked), menu menuitem radio {
  color: #F2F2F2;
}
    
menu menuitem:hover check, menu menuitem:hover radio {
  color: white;
}

menu menuitem image {
  border-radius: 20px;
  padding: 6px;
}

menu > menuitem:hover > image {
  background-color: #212326;
}

menu separator {
  background-color: alpha(black, 0.26);
}

tooltip {
  background-color: #212326;
  font-weight: 500;
}

tooltip label {
  padding: 4px
}

list {
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px alpha(black,0.2), 0px 0px 4px 0px alpha(black,0.1)
}

.xfce4-panel frame {
    background-color: inherit;
}

frame border  {
    border: none;
    color: transparent;
}

.flat:focus {
    outline: none;
    background-image: image(alpha(currentColor,0.1));
}


row button.flat {
    margin-right: 10px;
    border-radius: 9999px;
    color: alpha(black, 0.9)
}

.xfce4-panel menubar {
  background-color: transparent;
}

/***********
 * Firefox *
 ***********/
window.background:not(.csd) > widget > separator {
color: transparent;
}

window.background:not(.csd) > widget > scrollbar {
  background-clip: border-box;
}

window.background:not(.csd) > widget > frame > entry {
    background-color: #FAFAFA;
}

window.background:not(.csd) > widget > scrollbar,
window.background:not(.csd) > widget > frame > border {
  border-color: transparent;
}

window.background:not(.csd) > widget > entry,
window.background:not(.csd) > widget > button > button {
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: none;
}

window.background:not(.csd) > widget > entry {
  min-height: 30px;
  background-color: alpha(black, 0.075);
}

window.background:not(.csd) > widget > entry:focus {
  border-color: #006EFF;
  box-shadow: inset 0 0 0 2px #006EFF;
}

window.background:not(.csd) > widget > entry:disabled {
  background-color: #FAFAFA;
}

window.background:not(.csd) > widget > button > button {
  padding: 4px 8px;
  background-size: auto;
}

window.background:not(.csd) > widget > button > button:hover,
window.background:not(.csd) > widget > button > button:drop(active) {
  background-image: image(alpha(currentColor, 0.08));
}

window.background:not(.csd) > widget > button > button:active {
  background-image: image(alpha(currentColor, 0.12));
}

window.background:not(.csd) > widget > checkbutton > check:not(:checked),
window.background:not(.csd) > widget > radiobutton > radio:not(:checked) {
  color: #757575;
}

window.background:not(.csd) > widget > checkbutton > check:not(:checked):hover, window.background:not(.csd) > widget > checkbutton > check:not(:checked):active,
window.background:not(.csd) > widget > radiobutton > radio:not(:checked):hover,
window.background:not(.csd) > widget > radiobutton > radio:not(:checked):active {
  color: #212121;
}

window.background:not(.csd) > widget > checkbutton > check:not(:checked):disabled,
window.background:not(.csd) > widget > radiobutton > radio:not(:checked):disabled {
  color: rgba(117, 117, 117, 0.5);
}

window.background:not(.csd) > window > menu,
window.background:not(.csd) > menu > menu {
  border: none;
}

text:selected {
  background-color: #006EFF;
  color: white;
}

window.background:not(.csd) > widget > menubar {
  color: rgba(255, 255, 255, 0.7);
}

window.background:not(.csd) > widget > menubar:hover {
  color: white;
}

window.background:not(.csd) > widget > menubar:disabled {
  color: rgba(255, 255, 255, 0.3);
}

window.background:not(.csd) > widget > frame {
    color: transparent;
}

window.background:not(.csd) > widget > checkbutton > check,
window.background:not(.csd) > widget > radiobutton > radio {
  margin: 0;
  padding: 0;
}

window.background:not(.csd) > window.background > menu > separator {
  color: transparent;
}

#whiskermenu-window {
  color: alpha(#B9C2C6, 1);
  background-color: #212326;
}

#whiskermenu-window treeview {
  font-weight: 500;
}

#whiskermenu-window treeview:selected {
  background-image: linear-gradient(to right, #006EFF, #AA00FF);
}

#whiskermenu-window button {
  color: #B9C2C6;
  background-color: transparent;
  border-radius: 2px 0px 0px 2px;
}

#whiskermenu-window button:active {
  background-color: alpha(currentColor, 0.1)
}

#whiskermenu-window button:checked {
  color: #E9EBEC;
}

#whiskermenu-window box.horizontal box.horizontal button {
  border-radius: 20px;
  padding: 6px;
  margin: 0px 4px;
}

#whiskermenu-window .frame {
  border: none;
}

#whiskermenu-window treeview {
  background-color: #212326;
  color: white;
  border-radius: 2px;
  border: none;
  font-size: 9pt;
  min-height: 40px;
}

#whiskermenu-window treeview:hover {
  background-image: linear-gradient(to right, #006EFF, #AA00FF);
  color: white;
}


#whiskermenu-window entry {
  color: white;
  box-shadow: 0px -2px 0px 0px #AA00FF inset;
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #006EFF 0%, transparent 0%) 0 0 2/0 0 2px;

}

#whiskermenu-window entry:focus {
  font-weight: 600;
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #006EFF 100%, transparent 0%) 0 0 2/0 0 2px;

}

#whiskermenu-window entry image {
  padding: 6px;
  border-radius: 20px;
  margin-bottom: 4px;
}

#whiskermenu-window undershoot.bottom, .sidebar undershoot.bottom {
  background-image: linear-gradient(to top, alpha(#212326 , 0.8), alpha(#212326 ,0));
}

#whiskermenu-window undershoot.top, .sidebar undershoot.top {
  background-image: linear-gradient(to bottom, alpha(#212326 , 0.8), alpha(#212326 ,0));
}

.thunar .sidebar {
  border: none;
}


toolbar .combo {
  border-radius: 20px;
    -gtk-outline-radius:  9999px;
  padding: 0px 12px;
}

window.background > toolbar,
window.background >  box > toolbar,
.thunar #location-toolbar {
  background-color: #212326;
  border: none;
}

headerbar button:focus,
toolbar button:focus {
  background-color: inherit;
}

window.background > toolbar button,
window.background >  box > toolbar button,
.thunar #location-toolbar button {
  color: alpha(#F2F2F2, 0.9);
  background-color: transparent;
}

window.background > toolbar > button:checked,
window.background >  box > toolbar button:checked,
.thunar #location-toolbar button:checked {
  color: alpha(#F2F2F2, 1);
}

window.background > toolbar > button:disabled,
window.background >  box > toolbar button:disabled,
.thunar #location-toolbar button:disabled {
  color: alpha(#F2F2F2, 0.4)
}

.thunar #location-toolbar .flat {
  border-radius: 9999px;
  padding: 4px;
  margin: 2px 4px;
}

.thunar #location-toolbar .path-bar button:first-child {
  border-radius: 20px 0px 0px 20px;
} 

.thunar #location-toolbar .path-bar button {
  background-color: alpha(currentColor, 0.05);
  border-radius: 0px;
}

.thunar #location-toolbar .path-bar button:last-child {
  border-radius: 0px 20px 20px 0px;
} 

.thunar frame {
  border: none;
}


.thunar treeview {
  background-color: #17191C;
  color: alpha(#F2F2F2, 0.8);
  padding: 2px;
  font-weight: 500;
}

.thunar treeview:selected { 
  background-image: image(alpha(currentColor, 0.1));
  box-shadow: none;
  color: #F2F2F2;
}

.thunar treeview:hover { 
  background-image: image(alpha(currentColor, 0.05));
  box-shadow: none;
}

.thunar treeview:selected:hover { 
  background-image: image(alpha(currentColor, 0.15));
  box-shadow: none;
}

.thunar .sidebar undershoot.top {
  background-image: linear-gradient(to bottom, alpha(#17191C , 0.8), alpha(#17191C ,0));
}

.thunar .sidebar undershoot.bottom {
  background-image: linear-gradient(to top, alpha(#17191C , 0.8), alpha(#17191C ,0));
}

.flat:focus {
  background-color: alpha(currentColor, 0.1)
}

.thunar .sidebar undershoot.top,
.thunar window scrolledwindow undershoot.top {
  background-image: linear-gradient(to bottom, alpha(#17191C , 0.8), alpha(#17191C ,0));
}

.thunar .sidebar undershoot.bottom,
.thunar window scrolledwindow undershoot.bottom {
  background-image: linear-gradient(to top, alpha(#17191C , 0.8), alpha(#17191C ,0));
}

.thunar button, .thunar entry image {
  background-image: radial-gradient(circle, transparent 0%, transparent 0%);
  background-size: 100% 100%;
  transition: 300ms;
}

.thunar button:hover, .thunar entry image:hover {
  background-image: radial-gradient(circle, alpha(currentColor, 0.1) 100%, transparent 0%);
  background-size: 100% 100%;
  box-shadow: none;
}

.thunar entry {
  color: #F2F2F2;
  box-shadow: none;
  border-radius: 20px;
  font-weight: 500;
}

.thunar entry:focus {
  background-color: #F2F2F2;
  color: inherit;
  border: none;

}

.thunar entry image {
  color: #F2F2F2;
  border-radius: 20px;
  padding: 6px;
  transition: 200ms;
}

.thunar entry image:hover {
  color: white;

}

.thunar entry:focus image {
  color: #212326;
  border-radius: 20px;
  padding: 0px 6px;
}










/**************
 * Scrollbars *
 **************/
scrollbar {
  color: black;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  background-color: alpha(currentColor, 0.15);
  margin: 4px;
  border-radius: 9999px;
  background-clip: padding-box;
}

* {
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
}

scrollbar.top {
border: none;
}

scrollbar.bottom {
border: none;
}

scrollbar.left {
border: none;
}

scrollbar.right {
border: none;
}

scrollbar slider {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  min-width: 8px;
  min-height: 8px;
border: none;
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: alpha(currentColor, 0.7);
}

scrollbar slider:hover {
  background-color: alpha(currentColor, 0.8);
}

scrollbar slider:active {
  background-color: currentColor;
}

scrollbar slider:disabled {
  background-color: alpha(currentColor, 0.4);
}

scrollbar.fine-tune slider {
  border-radius: 9999px;
  margin: 0;
}

scrollbar.fine-tune.horizontal slider {
  background-image: linear-gradient(to right, #FF254C, #FFC44C);
  background-color: transparent;
}

scrollbar.fine-tune.vertical slider {
  background-image: linear-gradient(to bottom, #FF254C, #FFC44C);
  background-color: transparent;
}

scrollbar.overlay-indicator:not(.fine-tune) slider {
  transition-property: background-color, min-height, min-width;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
  border: none;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
  min-width: 4px;
  min-height: 4px;
  margin: 0px;
  border: none;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
  min-width: 4px;
  min-height: 4px;
  margin: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.38);
  background-clip: padding-box;
  -gtk-icon-source: none;
}

scrollbar.horizontal slider {
  min-width: 24px;
}

scrollbar.vertical slider {
  min-height: 24px;
}

scrollbar button {
  min-width: 16px;
  min-height: 16px;
  padding: 0;
  border-radius: 0;
}

toolbar .image-button, toolbar entry image,
.thunar .flat, .thunar entry image {
  background-image: radial-gradient(circle, transparent 0%, transparent 0%);
  background-size: 100% 100%;
  transition: 300ms;
}

toolbar .image-button:hover, toolbar entry image:hover,
.thunar .flat:hover, .thunar entry image:hover {
  background-image: radial-gradient(circle, alpha(currentColor, 0.1) 100%, transparent 0%);
  background-size: 100% 100%;
  box-shadow: none;
}


toolbar entry,
.thunar entry {
  color: #F2F2F2;
  box-shadow: none;
  border-radius: 20px;
  font-weight: 500;
  background-color: alpha(black, 0.26)
}

toolbar entry:focus,
.thunar entry:focus {
  background-color: #F2F2F2;
  color: #212326;
  border: none;
}

toolbar entry image,
.thunar entry image {
  color: #F2F2F2;
  border-radius: 20px;
  padding: 6px;
  transition: 200ms;
}

toolbar entry image:hover,
.thunar entry image:hover {
  color: white;

}

toolbar entry:focus image,
.thunar entry:focus image {
  color: #212326;
  border-radius: 20px;
}


.thunar .sidebar scrollbar slider,
#whiskermenu-window scrollbar slider {
  color: #F2F2F2;
}

.thunar .sidebar scrollbar,
.thunar window scrolledwindow scrollbar,
#whiskermenu-window scrollbar {
  color: white;
}

scrolledwindow scrollbar slider,
.thunar .standard-view scrollbar slider {
  box-shadow: 0px 0px 0px 2px white;
}

#whiskermenu-window scrollbar slider {
  box-shadow: 0px 0px 0px 2px #212326;
  color: white;
}

.thunar .sidebar scrollbar slider,
.thunar window scrolledwindow scrollbar slider {
  box-shadow: 0px 0px 0px 2px #17191C;
}

entry image {
  color: inherit;
}

.floating-bar {
  border-radius: 4px 0px 0px 0px;
  color: alpha(#212326, 0.8);
  font-weight: 500;
  background-color: #E3E5E8
}

filechooser {
  background-color: #212326;
  color: #F2F2F2;
}

filechooser entry {
  background-color: alpha(black, 0.26);
  color: #F2F2F2;
  box-shadow: none;
  border-radius: 20px;
  border: none;
  padding: 0px 12px;
}

filechooser entry:focus {
  background-color: #F2F2F2;
  color: #212326;
  box-shadow: none;
  border-radius: 20px;
  border: none;
}


filechooser paned {
  background-color: white;
}

filechooser row:not(:selected) {
  color: #212326
}

filechooser .path-bar button {
  background-color: alpha(currentColor, 0.1);
  border-radius: 0px;
  padding: 5px 10px;
  border: none;
}

filechooser .path-bar button:first-child {
  border-radius: 20px 0px 0px 20px;
  -gtk-outline-radius: 20px 0px 0px 20px;
}

filechooser .path-bar button:last-child {
  border-radius: 0px 20px 20px 0px;
  -gtk-outline-radius: 0px 20px 20px 0px;
}

filechooser .path-bar button:only-child {
  border-radius: 20px;
  -gtk-outline-radius: 20px;
}

row:selected {
  background-color: alpha(currentColor, 0.1)
}

filechooser row image {
  color: inherit;
}

filechooser actionbar { 
  box-shadow: 0px 2px 2px 0px alpha(black, 0.2);
}

progressbar.vertical progress {
  background-image: linear-gradient( to bottom, #006EFF, #AA00FF)
}

levelbar block {
  background-image: linear-gradient( to left, #006EFF, #AA00FF)
}

block.empty {
  background-image: none;
}

scale.horizontal {
  margin-right: 8px;
  margin-left: 8px;
}

scale.horizontal value {
  margin-left: 8px;
}

scale slider {
  min-height: 14px;
  min-width: 14px;
  margin: -6px;
  background-image: none;
  background-color: white;
  box-shadow: 0px 1px 2px 0px alpha(black, 0.175);
  transition: box-shadow 200ms
}

scale slider:disabled {
  background-color: alpha(white, 0.8);
  box-shadow: none;
}

scale slider:active {
  min-height: 16px;
  min-width: 16px;
  margin: -7px;
  background-image: none;
  background-color: white;
  box-shadow: 0px 0px 0px 2px #006EFF;
}

scale {
  min-height: 0px;
  margin: 10px 4px;
  padding: 0px;
}


scale slider:disabled,
scale highlight:disabled {
  background-image: image(#C4CAD4);
  box-shadow: none;
}


scale.fine-tune.horizontal highlight {
  background-image: linear-gradient(to right, #FFC466, #FF254D);
}

scale.fine-tune.vertical highlight {
  background-image: linear-gradient(to top, #FFC466, #FF254D);
}

scale.fine-tune slider {
  box-shadow: 0px 0px 0px 2px #FF254D
}

menuitem:hover scale:not(.fine-tune) slider:active {
  box-shadow: 0px 1px 4px 0px alpha(black, 0.2);
}

menuitem:hover scale:not(.fine-tune) highlight {
  background-image: image(white);
  transition: none;
}


button:disabled {
  background-color: inherit;
}

button:focus:not(.flat):not(.combo) {
  outline-style: dotted;
  outline-width: 2px;
  outline-color: currentColor;
  outline-offset: -1px;
}

.image-button:focus:not(.flat) {
 -gtk-outline-radius: 20px;
}

button.destructive-action {
  background-color: transparent;
  background-image: linear-gradient(to right, #FFC466 , #FFC466 , #FFC466 , #FF254D, #FF254D, #FF254D)
}

.emoji-picker undershoot.top  {
  padding: 0px;
  background-size: 100%;
  background-image: linear-gradient(to bottom, alpha(white , 0.6), alpha(white ,0));
}

.emoji-picker undershoot.bottom  {
  padding: 0px;
  background-size: 100%;
  background-image: linear-gradient(to top, alpha(white , 0.6), alpha(white ,0));
}

.emoji-picker entry {
  border: none;
  border-radius: 20px;
  color: #212326;
  box-shadow: none;
  margin: 0px 4px;
  margin-top: 10px;
  background-color: alpha(currentColor, 0.1)
}

.emoji-picker entry image {
  margin: 0px;
}

.emoji-section {
  color: alpha(#212326, 0.8);
  border-radius: 20px;
    -gtk-outline-radius:  9999px;
}

#whiskermenu-window scrolledwindow .flat {
  border-radius: 20px;
  padding: 6px;
  min-height: 0px;
  min-width: 0px;
  margin: 2px;
  margin-right: 10px;

}

#whiskermenu-window scrolledwindow .flat:checked {  
  color: #F2F2F2;
  background-color: alpha(currentColor, 0.1)
}

headerbar button:disabled {
  background-color: transparent;
}

.titlebar {
  box-shadow: none;
}

headerbar button.suggested-action {
  box-shadow: 0px -2px 0px 0px inset;
  background-color: alpha(white, 0.26);
  border-radius: 2px 2px 0px 0px;
}

messagedialog {
  background-color: #212326;
  color: #F2F2F2;
  opacity: 0.9
}

messagedialog button {
  background-color: transparent;
  box-shadow: none;
  color: inherit;
} 

overlay revealer label {
  margin: 4px 12px;
}

overlay revealer frame {
  background-color: #212326;
  color: #F2F2F2;
  opacity: 0.9;
}

overlay revealer button {
  color: #006eff;
}

overlay revealer button:disabled {
 color: alpha(#006EFF, 0.6)
}

calendar {
  padding: 2px;
  border-radius: 10px;
}

calendar:selected {
  border-radius: 20px;
  background-image: linear-gradient(to right, #00ADFF, #AA00FF);
  color: #F2F2F2;
  font-weight: 500;
}



/*
Aquí puede escribir reglas de CSS reconocidas por GTK+.
Puede desactivar temporalmente este CSS personalizado pulsando el botón «Pausa» de más arriba.

Los cambios se aplican instantánea y globalmente para toda la aplicación.
*/

toolbar {
  background-color: white;
}

toolbar button {
  color: #006EFF;
  border-radius: 20px;
}

toolbar button:disabled {
  color: alpha(#006EFF, 0.6);
}

spinbutton.vertical entry {
  box-shadow: none;
  background-color: inherit;
  box-shadow: 0px -1px 0px 0px alpha(currentColor, 0.26) inset;
  border-radius: 0px;
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1), border-image 225ms cubic-bezier(0, 0, 0.2, 1);
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), transparent 0%, transparent 0%) 0 0 2/0 0 2px;

}

spinbutton.vertical entry:focus {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), #006EFF 100%, transparent 0%) 0 0 2/0 0 2px;

}

statusbar {
  color: alpha(black, 0.6);
  font-weight: 500;
}

checkbutton check, radiobutton radio {
  margin: -6px 0px;
}

check:not(:checked), radio:not(:checked) {
  color: #212326;
}

check:hover, radio:hover {
  box-shadow: none;
}

checkbutton:disabled, radiobutton:disabled {
  opacity: 0.6;
}

check:disabled, radiobutton radio:disabled {
  color: #212326;
}

switch {
  background-image: linear-gradient(to right, #FFC466, #FF254D);
  box-shadow: 0px 0px 0px 2px;
  border: none;
  background-color: transparent;
  margin-right: 2px;
}

switch:hover {
  background-color: alpha(#212326, 0.26);
  box-shadow: 0px 0px 0px 2px;
  border: none;
}

switch:checked {
  background-color: #006EFF;
  background-image: linear-gradient(to right, #00ADFF, #AA00FF);
}

switch slider {
  margin: 0px -2px;
  box-shadow: none;
}

switch slider {
  margin: 0px -2px;
}

switch slider:checked {
  background-color: white;
}

button:checked:active {
  background-size: 1000% 1000%;
}

button.combo {
  box-shadow: 0px -1px 0px 0px alpha(currentColor, 0.26) inset;
}

button.combo:hover {
  box-shadow: 0px -2px 0px 0px currentColor inset;
}

combobox button.combo:not(:last-child) {
  background-color: white;
  box-shadow: 0px 1px 2px alpha(black ,0.1),
  0px 2px 2px alpha(black, 0.15);
}

treeview {
  padding: 2px;
}

notebook.frame:only-child {
  border: none;
  border-radius: 2px;
  box-shadow: 
    0px 1px 2px alpha(black ,0.1),
    0px 2px 2px alpha(black, 0.15);
}

.frame:only-child {
  border-radius: 2px; 
  border: none;
}

.inline-toolbar {
  border: none;
}

.inline-toolbar button:not( .image-button ) {
  border-radius: 0px;
  -gtk-outline-radius: 0px;
  padding: 6px 12px;
  box-shadow: 0px 0px 0px 1px alpha(currentColor, 0.26) inset;
}

.inline-toolbar button:hover:not( .image-button ) {
  box-shadow: 0px 0px 0px 2px #006EFF inset;
}

.inline-toolbar button:only-child:not( .image-button ) {
  border-radius: 20px;
  -gtk-outline-radius: 20px;
}

.inline-toolbar button:first-child:not( .image-button ) {
  border-radius: 20px 0px 0px 20px;
  -gtk-outline-radius: 20px 0px 0px 20px;
}

.inline-toolbar button:last-child:not( .image-button ) {
  border-radius: 0px 20px 20px 0px;
  -gtk-outline-radius: 0px 20px 20px 0px;
}

.inline-toolbar .image-button {
  border-radius: 20px;
  -gtk-outline-radius: 20px;
  padding: 6px;
  box-shadow: none;
}

.dialog-vbox buttonbox {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
}

buttonbox image {
  margin-right: 4px;
}

.warning {
  background-image: linear-gradient(to right, #FFC466, #FF254D);
  color: white;
  font-weight: 500;;
}

.warning .flat {
  color: white;
}f

.engrampa-window entry {
  background-color: alpha(black, 0.025);
  color: #212326;
}

.engrampa-window entry:focus {
  color: #212326;
  background-color: alpha(black, 0.05);
}

.engrampa-window toolbar button {
  color: #212326;
}


dialog.background > box.vertical > separator.horizontal {
    background-image: linear-gradient(to right, #00ADFF, #AA00FF);
  min-height: 2px;
}

box .radio.text-button {
  background-color: white;
  box-shadow: 0px 2px 2px 0px alpha(black, 0.125);
  border-radius: 0px;
  transition: background-image 250ms, box-shadow 350ms;
}

box .radio.text-button:hover {
  box-shadow: 0px 2px 4px 0px alpha(black, 0.15);
}

box .radio.text-button:active {
  box-shadow: 0px 2px 4px 0px alpha(black, 0.4);
}

box .radio.text-button:checked {
  color: white;
    background-image: linear-gradient(to right, #00ADFF, #00ADFF, #00ADFF, #AA00FF, #AA00FF, #AA00FF);
  transition: background-image 250ms;
}

box .radio.text-button:first-child {
  border-radius: 20px 0px 0px 20px;
  -gtk-outline-radius: 20px 0px 0px 20px;
}

box .radio.text-button:last-child {
  border-radius: 0px 20px 20px 0px;
  -gtk-outline-radius: 0px 20px 20px 0px;
}

.sidebar  {
  background-color: #17191C;
}

.sidebar row label, .sidebar row image {
  color: inherit;
}

.sidebar row {
  color: alpha(#F2F2F2, 0.9);
  margin: 2px 0px;
}

.sidebar row:selected {
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}

.sidebar separator {
  background-color: alpha(black,0.26);
}

.sidebar scrollbar {
  color: #F2F2F2;
}

.sidebar scrollbar slider {
  box-shadow: 0px 0px 0px 2px #17191C
}

placessidebar row:not(:selected) label, placessidebar row:not(:selected) image {
  color: alpha(#F2F2F2, 0.8);
}

.nautilus-path-bar button {
  border-radius: 0px;
  -gtk-outline-radius: 0px;
  padding: 4px 12px;

}

.nautilus-path-bar button:first-child {
  border-radius: 2px 0px 0px 2px;
  -gtk-outline-radius: 2px 0px 0px 2px;
}

.nautilus-path-bar button:last-child {
  border-radius: 0px 2px 2px 0px;
  -gtk-outline-radius: 0px 2px 2px 0px;
  background-color: alpha(currentColor, 0.2)

}

.nautilus-path-bar button:only-child {
  border-radius: 2px 2px 0px 0px;
  -gtk-outline-radius: 2px 2px 0px 0px;
}

.nautilus-window entry {
  background-color: #212326;
  border-radius: 20px;
  padding: 0px 12px;
  box-shadow: none;
  border: none;
}

.nautilus-window actionbar entry {
  background-color: alpha(#212326, 0.1)
}

.xfce4-panel #tasklist-10 button.toggle {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 0%, transparent 0%) 0 0 2 0/0 0 2px 0px;
}


.xfce4-panel #tasklist-10 button.toggle:checked {
  border-image: radial-gradient(circle closest-corner at center calc(100% - 1px), white 100%, transparent 0%) 0 0 2 0/0 0 2px 0px;
}

.xfce4-panel.vertical #tasklist-10 button.toggle {
  border-image: radial-gradient(circle closest-corner at left calc(100% - 25px), white 0%, transparent 0%) 0 0 0 2/0 0 0 2px;
}

.xfce4-panel.vertical #tasklist-10 button.toggle:checked {
  border-image: radial-gradient(circle closest-corner at left calc(100% - 25px), white 100%, transparent 0%) 0 0 0 2/0 0 0 2px;
}

.xfce4-panel.deskbar #tasklist-10  button.toggle {
  animation: none;
  border: none;
  background-size: 100% 100%;
  background-image: radial-gradient(circle at left, white 3%, transparent 0%);
  transition: background-image 400ms;
}

.xfce4-panel.deskbar #tasklist-10  button.toggle:checked {

  background-size: 105% 105%;
  background-image: radial-gradient(circle at left, white 7%, transparent 0%);
}

.xfce4-panel.deskbar #tasklist-10  button.toggle:hover {
  transition: background-image 200ms;
  background-image: radial-gradient(circle at left, white 9%, transparent 0%);
}